<!---- Footer-->
<footer class=" grid grey-text">
    <div class="col-8_sm-12 padded">
        <h2 class="logo">The Villa</h2>
    </div>
    <nav class="col-4_sm-12-bottom padded">
        <h4 class="bold"> Stay with us</h4>
        <p><a href="#">Bali</a></p>
        <p> <a href="mailto:hello@thebunker.com">hellovilla.com</a></p>
        <p><a href="tel:180055555">Give us a call </a></p>
    </nav>
    <div class="col-12 center">
        <p class="subtle"> Copyright 2021</p>
    </div>
</footer>