<!---- Footer-->
<footer class=" grid bg-dark light-text">
    <div class="col-8_sm-12 padded">
        <a href="index">
            <img src="/images/logo.webp" class="logo">
        </a>
    </div>
    <nav class="col-4_sm-12-bottom padded">
        <h4 class="bold"> Contact</h4>
        <p><a href="#">Boulevard Carnot, Le Cannet</a></p>
        <p> <a href="mailto:hello@thebunker.com">nomadedreamer@gmail.com</a></p>
        <p><a href="tel:180055555">Give us a call </a></p>
    </nav>
    <div class="col-12 center">
        <p class="subtle"> Copyright 2021</p>
    </div>
</footer>