<!-- Styles  -->
<style> 

    :root {
        --beige-color: {{ site.date.site-settings.design.beige-color_color }};
        --sand-color: {{ site.date.site-settings.design.sand-color_color }};
        --green-color: {{ site.date.site-settings.design.green-color_color }};
        --kaki-color: {{ site.date.site-settings.design.kaki-color_color }};
        --bg-dark: {{ site.data.site-settings.design.bg-dark_color }};
        --bg-light: {{ site.data.site-settings.design.bg-light_color }};
        --bg-sand: {{ site.date.site-settings.design.bg-sand_color }};
    }

</style> 