<!-- Styles  -->
<style> 

    :root {
        --rose: {{ site.date.site-settings.design.rose_color }};
        --sand: {{ site.date.site-settings.design.sand_color }};
        --beige: {{ site.date.site-settings.design.beige_color }};
        --featured: {{ site.date.site-settings.design.featured_color }};
        --bg-light: {{ site.data.site-settings.design.bg-light_color }};
        --bg-sand: {{ site.date.site-settings.design.bg-sand_color }};
        --bg-rose: {{ site.date.site-settings.design.bg-rose_color }};
        --bg-dark: {{ site.data.site-settings.design.bg-dark_color }};
        
    }

</style> 